//Font-sizes
$base-font-size: 1.4rem;

//Display
$display-flex: flex;
$space-between: space-between;
$flex-direction-column: column;
$center : center;

//Colors
$primary-color: #2E4F51;
$light-grey: #dddddd;
$dark-grey: #646464;
$white: white;

//Boxed view variables
$input-border: $light-grey;

//Spacing
$space : 2rem;

//Content width
$content-width: 80rem;

//view port 
$view-port-100vh: 100vh;
$view-port-100vw: 100vw;

//Button
$delete-color: #BE0000;

//Alignments
$alignment-center: center;