@mixin boxed-view{
    background-position:$alignment-center;
    background-repeat: no-repeat;
    background-size: cover;
    height:$view-port-100vh;
    width: 100%;
    position: relative;
}

.boxed-view__form { 
    left: 50%;
    text-align: $alignment-center;
    top: 40%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.boxed-view-modal{
   align-items: $alignment-center;
    background-color:rgba(255, 255, 255, 0.9);
   display: $display-flex;
   justify-content: $alignment-center;
   height: $view-port-100vh;
   width: $view-port-100vw;
   outline: none;
}

.boxed-view-modal__box{
    background-color: white;
    padding: 2.4rem;
    text-align: $alignment-center;
    flex-direction: $flex-direction-column;
    justify-content: $alignment-center;
    display: $display-flex;
    border: 1px solid gray;
     outline: none;
}


#hide::before{
    background: url('/images/eye-shut.png');
    background-size: 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 1rem;
    content: '';
}

.boxed-view--modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

