.links-list{
    margin: $space 0 $space 0;
}

.links-list__title{
    display: $display-flex;
    justify-content: $space-between;
    margin-bottom: $space;
}
.links-list__title h3:nth-child(2) {
    @include tablets {
        display: none;
    }        
}

.item {
    display: $display-flex;
    font-size: 2rem;
    justify-content: center;
}
