.lnkit-area{
    margin: 0 auto;
    max-width: $content-width;
    @include tablets{
        padding: 0 $space;
    }
}

.lnkit-area__buttons{
    display: $display-flex;
    justify-content: $space-between;
    margin: $space 0 $space 0;
}
